* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: sans-serif;
}

div {
  margin: 20px;
}

div ul{
  margin: 0 0 15px 0 ;
  padding: 0;
}
div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ededed;
  padding: 10px;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  
  font-weight: bold;
  font-size: 14px;
}

div li button {
  
  background: #ca4949;
}
